{% extends "layout.html" %}
{% block content %}
	<h2>Change Password</h2>
	<form method="POST" action="/resetPassword" name="resetPassword">
		<span>Passwords must have a minimum length of 10 characters. <br/>Tip: Make your password a nonsense phrase.</span>
		<div class ="form-group">
			<input type="password" name="password1" placeholder="New Password">
		</div>
		<div class ="form-group">
			<input type="password" name="password2" placeholder="New Password">
		</div>
		<div class ="form-group">
			<input type="submit" value="Submit" name="emailForm">
		</div>
	</form>
	<span style="background-color: crimson">{{error}}</span>
{% endblock %}